.inner {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

// 전역화 방법, 아주 좋아요!
.flex-space {
  flex-grow: 1;
}

section {
  .inner {
    padding: 50px 0;
    box-sizing: border-box;
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
